@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --primary-color: "#6fc276";
  --text-color: 0, 0, 0;
}

@layer base {
  html {
    font-family: Poppins, system-ui;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34;
    --background-end-rgb: 34, 34, 34;
    --text-color: 255, 255, 255;
  }
}

body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] body {
  background-color: #222;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.portfolio-card-parent-div {
  position: relative;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .portfolio-card-child-div {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .portfolio-card-parent-div:hover .portfolio-card-child-div {
    opacity: 1;
  }
}

.parent-div {
}

.child-div1 {
  margin-left: -50px;
}

.child-div2 {
  margin-right: -50px;
}

.parent-div:hover .child-div1 {
  margin-left: 0px;
}

.parent-div:hover .child-div2 {
  margin-right: 0px;
}

.container {
  position: relative;
  overflow: hidden;
}

.text-content {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.container:hover .text-content {
  opacity: 1;
  display: flex;
  transform: translateY(0);
}

.card-parent {
}

.card-parent:hover {
  scale: 1.05;
}
