@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui;
  }
}

:root {
  --background-color: white;
  --text-color: black;
  --primary-color: #6fc276;
  --card-bg: #c9e8cb;
  --title-color: #333;
  --nav-color: #eeeeee;
}

.dark {
  --background-color: #222;
  --text-color: white;
  --primary-color: #007ced;
  --card-bg: #333;
  --title-color: white;
  --nav-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
}

.custom-bg {
  background-color: var(--background-color);
}

.custom-theme-bg {
  background-color: var(--primary-color);
}

.custom-card-bg {
  background-color: var(--card-bg);
}

.custom-theme-background {
  background: var(--primary-color);
}

.custom-border {
  border-color: var(--background-color);
}

.custom-theme-border {
  border-color: var(--primary-color);
}

.theme-color {
  color: var(--primary-color);
}

.custom-text-color {
  color: var(--text-color);
}

.custom-title-color {
  color: var(--title-color);
}

.in-app-nav-bar {
  background-color: var(--nav-color);
  border-color: var(--nav-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.portfolio-card-parent-div {
  position: relative;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .portfolio-card-child-div {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .portfolio-card-parent-div:hover .portfolio-card-child-div {
    opacity: 1;
  }
}

.parent-div {
}

.child-div1 {
  margin-left: -50px;
}

.child-div2 {
  margin-right: -50px;
}

.parent-div:hover .child-div1 {
  margin-left: 0px;
}

.parent-div:hover .child-div2 {
  margin-right: 0px;
}

.container {
  position: relative;
  overflow: hidden;
}

.text-content {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.container:hover .text-content {
  opacity: 1;
  display: flex;
  transform: translateY(0);
}

.card-parent {
}

.card-parent:hover {
  scale: 1.05;
}
